version: "3.8"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourPassword123!
    ports:
      - "1433:1433"

  db-init:
    image: mcr.microsoft.com/mssql/server:2022-latest
    depends_on:
      - sqlserver
    volumes:
      - ./init.sql:/init.sql
    command: >
      bash -c "
      echo 'Dang doi SQL Server khoi dong...' &&
      sleep 30s &&
      /opt/mssql-tools18/bin/sqlcmd -S sqlserver -U sa -P YourPassword123! -d master -i /init.sql -C &&
      echo 'INIT SUCCESS: Da khoi tao Database xong!'
      "

  todo-app:
    build: .
    container_name: todo_web_app
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=TodoDbLocal;User Id=sa;Password=YourPassword123!;TrustServerCertificate=True;
    ports:
      - "5000:8080"
    depends_on:
      sqlserver:
        condition: service_started
      db-init:
        condition: service_completed_successfully
